* {
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans Display", sans-serif;
}

body {
    background-color: rgb(253, 253, 253);
}

ul {
    list-style: none;
    padding: 0 !important;
}

main {
    margin-top: 100px;
}

.navbar {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
    padding: 15px !important;
    background-color: #132c33 !important;
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.navbar-nav li a {
    color: #f6f5f5 !important;
    font-size: 18px;
    margin-right: 15px !important;
    transition: all 0.3s;
}
.navbar-nav li a:hover {
    color: #51c4d3 !important;
}

.navbar-nav li a:hover {
    color: #111;
}

.user-info__image {
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.user-info__icon {
    width: 25px;
}

.research__item {
    margin-top: 20px;
}

.research__title {
    color: #126e82;
    font-weight: bold;
}

.research__content {
    margin-top: 15px;
    margin-left: 15px;
}

.research__content p {
    line-height: 29px;
}

.research__collaborator--icon {
    width: 20px;
}

.research__progress--icon {
    width: 30px;
    margin-right: 5px;
}

.teaching {
    list-style: square;
    margin-left: 2rem;
}

.teaching li {
    margin-top: 15px;
}
